<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Constructora DYD</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../static/DyD/dist/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <div class="logo"><img src="../../static/DyD/dist/img/dyd.png" alt="DyD-LOGO"  width="200" height="100" style="margin-top: 20px;"></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Acerca de nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contacto">Contactanos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">CONSTRUCTORA D&D</h1>
                            <p class="lead text-white-50 mb-4">Orden a la Orden!</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="login">Iniciar sesión</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="#!">Leer más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5" >
                <div class="row gx-5" style="margin-left: 110px;">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <img src="../../static/DyD/dist/img/responsabilidad.png" alt="Icono de responsabilidad" width="85" height="85">
                        <h2 class="h4 fw-bolder">Responsabilidad</h2>
                        <p>En Constructora D&D, nuestra responsabilidad corporativa es primordial. Nos comprometemos a promover la equidad laboral, 
                            proteger el medio ambiente y apoyar a nuestras comunidades locales. Desde prácticas éticas en el trabajo hasta la reducción del 
                            impacto ambiental, estamos dedicados a liderar con integridad y 
                            responsabilidad en todas nuestras acciones. Juntos, estamos construyendo un futuro más sostenible y próspero para todos.</p>
                        
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <img src="../../static/DyD/dist/img/celeridad.png" alt="Icono de responsabilidad" width="85" height="85">
                        <h2 class="h4 fw-bolder">Celeridad</h2>
                        <p>En Constructora D&D, la celeridad es esencial.
                             Nos comprometemos a tomar decisiones y actuar con rapidez en todas nuestras operaciones, 
                             desde el desarrollo de productos hasta la atención al cliente. Fomentamos una cultura de agilidad y eficiencia, 
                            priorizando la satisfacción del cliente y la adaptación al mercado en constante cambio.</p>
                        
                    </div>
                    <div class="col-lg-4">
                        <img src="../../static/DyD/dist/img/fiabilidad.png" alt="Icono de responsabilidad" width="85" height="85">
                        <h2 class="h4 fw-bolder">Fiabilidad</h2>
                        <p>En Constructora D&D, la fiabilidad es primordial. 
                            Nos comprometemos a ofrecer productos y servicios de calidad consistentemente, 
                            cumpliendo con nuestras promesas y manteniendo la confianza de nuestros clientes a través de la transparencia 
                            y la integridad en todas nuestras acciones.</p>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Contacto-->
        
        <div class="contacto" id="contacto">
            <h3 style="margin-left: 120px;">Contactanos!</h3><br>
            <b><p>Número: +56 9 0243 2342</p>
            <p>Horario de atención: Lunes a Sábado 10:00 AM/4:00 PM </p>
            <p>Dirección: Avenida Siempre Viva 123, Stgo Centro.</p>
            </b>
        </div>

        
       
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
