<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Constructora DYD</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../../static/DyD/dist/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class href="inicio"><div class="logo"><img src="../../static/DyD/dist/img/dyd.png" alt="DyD-LOGO"  width="200" height="100" style="margin-top: 20px;"></div></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="inicio">Volver</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Acerca de nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contacto</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Servicios</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">RECURSOS HUMANOS</h1>
                            <p class="lead text-white-50 mb-4">Orden a la Orden!</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center" style="margin-left: 30px;">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <div class="col-12" id = "empleados">
            <table class = "table table-striped" id = "lista_emp">
            {% if personal %}
                    <th>RUT</th>
                    <th>NOMBRE</th>
                    <th>SUELDO</th>
                    <th>EMAIL</th>
                    <th>ELIMINAR</th>
                    <th>EDITAR</th>
                {% for e in personal %}

                <tr><td>{{e.rut}}</td>
                <td>{{e.nombre}}</td>
                <td>{{e.sueldo}}</td>
                <td>{{e.email}}</td>
                <td><button type ="button" class="btn btn-danger"><a href="{% url 'deleteEmp' pk=e.rut %}">ELIMINAR</a></button></a></td>
                <td><button type="button" clas="btn btn-primary"></button><a href="{% url 'encontrarEmp' pk=e.rut %}">EDITAR</a></td>
                </tr>

                {% endfor %}
            {% endif %}
            </table>
        </div>
        <div class="container">
          <h1 class="display-5 fw-bolder text-black mb-2" style="margin-left: 430px;">Agregar Empleados</h1><br>
              <form action = "agregarEmp"  method = "POST" enctype="multipart/form-data" class = "col-6" id = "form_agregar" style="margin-left: 330px;">{% csrf_token %}
                  <b><label>Nombre completo</label></b>
                  <input name = "nombre_emp" type="text" class = "form-control" id = "nombre_emp">
                  <br>
                  <div class="input-group">
                    <b><label>Rut  :</label></b>
                    <input name = "rut" type="text" class = "form-control" id = "rut_emp" style="width: 500px;">
                    <span class="input-group-addon">-</span>
                  </div>
                  <br>
                  <b><label>Sueldo</label></b>
                  <input name = "sueldo" type="text" class = "form-control" id = "sueldo_emp">
                  <b><label>Email</label></b>
                  <input name = "email" type="email" class = "form-control" id = "email_emp">
                  <input type="submit" name="opcion" value="Agregar">
                  <!--<br><button type = "button" class="btn btn-primary btn-lg px-4 me-sm-3" id = "agregar_emp" style="margin-left: 250px"></button>-->


             
              </form>
              <div id = 'mensaje'>
                  {% if mensaje %}
                      {{mensaje}}
                  {% endif %}
              </div>
      </div>


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" 
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="../../static/DyD/dist/js/AñadirEmp.js"></script>
    </body>
</html>
